

/*
@font-face {
    font-family: 'UVNLacLongQuanRegular';
    src: url('../javascripts/uvnlaclongquan_r-webfont.eot');
    src: url('../javascripts/uvnlaclongquan_r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../javascripts/uvnlaclongquan_r-webfont.woff') format('woff'),
         url('../javascripts/uvnlaclongquan_r-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*/
@font-face {
    font-family: 'UVNTinTucHepBold';
    src: url('../javascripts/uvntintuchep_b-webfont.eot');
    src: url('../javascripts/uvntintuchep_b-webfont.eot?#iefix') format('embedded-opentype'),
         url('../javascripts/uvntintuchep_b-webfont.woff') format('woff'),
         url('../javascripts/uvntintuchep_b-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'utm_amerika_sansregular';
    src: url('../javascripts/utm_amerika_sans-webfont.eot');
    src: url('../javascripts/utm_amerika_sans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../javascripts/utm_amerika_sans-webfont.woff') format('woff'),
         url('../javascripts/utm_amerika_sans-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}









*{
	padding:0px;
	margin:0px;
}
html{

}
body{
	font-size:12px;
	color:#333;
	line-height:18px;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	background:#85af28 url(../images/background.jpg) center top no-repeat;

}
#wrapper-intro{
	/*background:url(../images/background.jpg) center top;*/
	background:url(../images/bg_intro_01.png) repeat;
	width:100%;
	height:auto;

}
.clear{
	clear:both;
}
.clear_left{
	clear:left;
	height:0px;
}
.clear_right{
	clear:right;
}
.fload_left{
float:left;
}
.fload_right{
float:right;
}
h1, h2, h3, h4, h5, h6{
	font-size:12px;
}
img, p, ul{
	border:0px;
}
ul,ol{
	list-style:none;
}
a{
	text-decoration:none;
	outline: none;
}
select{
	outline:none;
}
table{
	border-collapse:collapse;
}
/*---------- MÃ¡Â»â„¢t sÃ¡Â»â€˜ chuÃ¡ÂºÂ©n khi cÃ¡ÂºÂ¯t css vÄ‚Â  trÄ‚Â¡nh lÃ¡Â»â€”i IE6-------------
- Khi thÄ‚Âªm thuÃ¡Â»â„¢c tÄ‚Â­nh margin cho thÃ¡ÂºÂ» phÃ¡ÂºÂ£i thÄ‚Âªm thuÃ¡Â»â„¢c tÄ‚Â­nh display:inline (trÃ¡Â»Â« nhÃ¡Â»Â¯ng thÃ¡ÂºÂ» khÄ‚Â´ng cÄ‚Â³ chiÃ¡Â»ï¿½u cao, rÃ¡Â»â„¢ng cÃ¡Â»â€˜ Ã„â€˜Ã¡Â»â€¹nh thÄ‚Â¬ khÄ‚Â´ng cÃ¡ÂºÂ§n thiÃ¡ÂºÂ¿t)
- Khi thÄ‚Âªm padding chiÃ¡Â»ï¿½u nÄ‚Â o cÃ¡Â»Â§a mÃ¡Â»â„¢t thÃ¡ÂºÂ» phÃ¡ÂºÂ£i giÃ¡ÂºÂ£m Ã„â€˜Ã¡Â»â„¢ rÃ¡Â»â„¢ng, cao tÃ†Â°Ã†Â¡ng Ã¡Â»Â©ng nÃ¡ÂºÂ¿u thÃ¡ÂºÂ» cÄ‚Â³ chiÃ¡Â»ï¿½u rÃ¡Â»â„¢ng hoÃ¡ÂºÂ·c cao cÃ¡Â»â€˜ Ã„â€˜Ã¡Â»â€¹nh.
- TÃ¡ÂºÂ¥t cÃ¡ÂºÂ£ cÄ‚Â¡c link phÃ¡ÂºÂ£i cÄ‚Â³ hover
- NhÃ¡Â»Â¯ng button nhÃ†Â° HÃ¡Â»Â§y,GÃ¡Â»Â­i Ã„â€˜Ã¡ÂºÂ·t trong thÃ¡ÂºÂ» input phÃ¡ÂºÂ£i cÄ‚Â³ thuÃ¡Â»â„¢c tÄ‚Â­nh cursor:pointer .
- NhÃ¡Â»Â¯ng Title chÃ¡Â»â€° cÄ‚Â³ mÃ¡Â»â„¢t dÄ‚Â²ng thÄ‚Â¬ trÄ‚Â¡nh dÄ‚Â¹ng padding-left khi muÃ¡Â»â€˜n cÄ‚Â¡ch Ã„â€˜Ã¡ÂºÂ§u dÄ‚Â²ng_ nÄ‚Âªn dÄ‚Â¹ng text-indent:px vÄ‚Â  nÄ‚Âªn sÄ‚Â©t chiÃ¡Â»ï¿½u rÃ¡Â»â„¢ng vÄ‚Â  thuÃ¡Â»â„¢c tÄ‚Â­nh overflow:hidden.
- NÃ¡ÂºÂ¿u thÃ¡ÂºÂ» <img/> Ã„â€˜Ã¡ÂºÂ·t trong mÃ¡Â»â„¢t thÃ¡ÂºÂ» khÄ‚Â¡c mÄ‚Â  hÄ‚Â¬nh Ã¡ÂºÂ£nh quÄ‚Â¡ nhÃ¡Â»ï¿½ thÄ‚Â¬ phÃ¡ÂºÂ£i cÄ‚Â³ thuÃ¡Â»â„¢c tÄ‚Â­nh font-size:1px trong thÃ¡ÂºÂ» chÃ¡Â»Â©a <img/>

* ---------------------------Qui tÃ¡ÂºÂ¯c Ã„â€˜Ã¡ÂºÂ·t tÄ‚Âªn--------------*/

.page{
	height:20px;
	float:right;
	margin:10px;
}

.page a{
	padding:1px 7px;
	color:#666;
	font-weight:bold;
	font-size:12px;
	text-align:center;
	float:left;
	margin:0px 1px;
  border: 1px solid #bbb;
  padding: 0 5px;
}
.page a:hover,
.page a.active{
  background: #789101;
  color: #fff;
}
.page a img{
	vertical-align:middle;
}
a.page_prev,a.page_next{
	background:none;
	padding:0px;
}

.page .page_prev:hover,
.page .page_prev:hover{
  background: #789101;
  color: #fff;
}
.page .none{
	display: none !important;
}
.page .bg-right,
.page .bg-left{
	margin:0px;
  padding:0px;
  border: 0;
}
  /*#wrapper_top{
	height:13px;
	margin:25px auto 0px auto;
	background:url(../images/bg_wrap_top.jpg) left top no-repeat;
}
.wrapper{
	width:1016px;
	margin:0px auto 0px auto;
	background:url(../images/bg_content.jpg) left top repeat-y;
}*/

.top-container {
  padding: 0;
  overflow: hidden;
}
.logo_header {
  background: url(../images/bg_header2.jpg) no-repeat center;
  width: 100%;
  height: 115px;
  position: relative;
  display: block;
}
.logo {
  width: 182px;
  display: block;
  margin: 3px auto 0;
}
.hotline-button span {
  color: #ff6c00;
  font-size: 24px;
  padding-left: 5px;
}
.hotline-button {
  padding: 10px;
  border: #85af28 solid 1px;
  margin: 5px;
  font-size: 20px;
  line-height: 46px;
  text-align: center;
}
.top-container {
  overflow: hidden;
}
@media (min-width: 768px) {
  .top-container {
    padding: 0 30px;
    background: #fff;
    border: solid 13px #427003;
    border-radius: 20px;
    margin-top: 30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
  }
  .logo {
    margin: 30px auto 0;
  }
  .hotline {
    width: 198px;
    height: 46px;
    background: url(../images/bg_hotline.png) left center no-repeat;
    line-height: 46px;
    text-align: center;
    color: #898989;
    position: absolute;
    right: -1px;
    bottom: -3px;
    z-index: 999;
  }
  .hotline span {
    color: #ff6c00;
    font-size: 24px;
    font-family: 'UVNTinTucHepBold';
    padding-left: 5px;
  }
}

.img_full {
  width: 100%;
}
.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}
ul, ol {
  margin-bottom: 0;
  margin-top: 0;
}
.order {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.header {
  width: 100%;
  height: 202px;
  position: relative;
}
.header .logo {
  position: absolute;
  top: 35px;
  left: 418px;
}
.wrap_form_search {
  width: 180px;
  height: 27px;
  background: url(../images/bg_search.jpg) left top no-repeat;
  position: absolute;
  bottom: 11px;
  right: 0px;
  z-index: 1;
}
.header .search_form {
  width: 171px;
  height: 27px;
  position: relative;
}
.input_text {
  width: 140px;
  position: absolute;
  left: 1px;
  top: 5px;
  background: none;
  border: none;
}
.search_btn {
  position: absolute;
  top: 0x;
  right: 0px;
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  cursor: pointer;
}
.option {
  height: 39px;
  width: 100%;
  background: url(../images/bg_option.jpg) left center repeat-x;
}
.option .support h3 {
  float: left;
  margin-right: 4px;
  color: #666666;
  font-weight: normal;
}
.option .support img {
  vertical-align: middle;
}
.option .support a {
  float: left;
  padding: 0px 5px;
}
.link_home {
  padding: 12px 15px;
  float: left;
}
.link_home a {
  color: #333333;
  font-size: 11px;
  padding-left: 2px;
}
.link_home a.link_home_first {
  background: url(../images/bg_home.jpg) left center no-repeat;
}
.link_home .active {
  background: none;
  color: #FFB100;
}
.l_home {
  background: url(../images/bg_home.jpg) left center no-repeat !important;
  padding-left: 15px !important;
}
.header .order {
  position: absolute;
  right: 44px;
  bottom: 88px;
  display: block;
  #z-index: 999909;
}
.order .giohang_2, .order .dathang, .order .payment {
  color: #FFF;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  width: 135px;
  #cursor: pointer;
  float: left;
  background: url(../images/bg_oder.jpg) left center repeat-x;
}

.order .payment {
  margin-right: 1px;
  margin-left: 2px;
  width: 80px;
}

.order .giohang_2 {
  -webkit-border-top-left-radius: 04px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 04px;
  -moz-border-radius-bottomleft: 4px;
  border-top-left-radius: 04px;
  border-bottom-left-radius: 4px;
}
.order .giohang_2 span {
  padding: 5px 0px 5px 40px;
  background: url(../images/icon_oder.jpg) 10px center no-repeat;
}
.order .dathang {
  width: 70px;
  margin-left: 2px;
}
.order .dathang span,
.order .payment span {
  padding-left: 10px;
  float: left;
}
.order .dathang a {
  display: block;
  color: #FFF;
  float: left;
}

.sidebar_left {
  display: none;
}
@media (min-width: 768px) {
  .order .payment {
    margin-left: 2px;
    width: 110px;
  }
  .order .dathang {
    width: 100px;
    margin-left: 2px;
  }
  .order .dathang span,
  .order .payment span {
    padding-left: 30px;
    background: url(../images/icon_dathang.jpg) 20px center no-repeat;
    float: left;
  }
}
@media (min-width: 992px) {
  .sidebar_left {

      float: left;
      margin-top: 10px;
      display: block;
    }
}


.cate_left {
  width: 100%;
}

.cate_top {
  margin-top: 117px;
}
ul.cate_top li {
  width: 100%;
  height: 62px;
  line-height: 27px;
  background: url(../images/home_shophoa_v6_23.png) left top no-repeat;
  margin-top: -6px;
}
ul.cate_top li a {
  display: block;
  padding: 10px 0px;
  color: #FFF;
  text-transform: capitalize;
  padding-left: 14px;
  word-spacing: 0px;
  font-family: 'utm_amerika_sansregular';
  font-size: 17px;
}
ul.cate_top li a:hover, ul.cate_top li .active {
  color: #000;
}
.cate_top .cate_top_last {
  height: 77px;
  background: url(../images/bg_bot_main_cate.jpg) left top no-repeat;
}
.cate_top .cate_top_first {
  background: url(../images/bg_cate_first.png) left top no-repeat;
  margin-top: 6px;
}
.main_cate_left h3 {
  font-family: 'utm_amerika_sansregular';
  color: #FFF;
  font-size: 17px;
  width: 100%;
  height: 41px;
  line-height: 41px;
  text-indent: 14px;
  font-weight: normal;
  background: url(../images/bg_title_cate_2.jpg) left center repeat-x;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.cate_left_2 {
  margin-top: 20px;
}
ul.cate_2 li {
  padding: 8px 0px;
  border-bottom: 1px dotted #999;
}
ul.cate_2 li a {
  color: #5e7a00;
  font-size: 15px;
  font-family: 'utm_amerika_sansregular';
  padding-left: 17px;
  background: url(../images/bg_cate_left_li_2.jpg) left 8px no-repeat;
}
ul.cate_2 li a:hover {
  background: url(../images/bg_cate_left_li_2.jpg) left -37px no-repeat;
  color: #ff8a00
}
.main_cate_left img {
  margin: 5px 0px;
}
.cate_support {
  margin-top: 20px;
}
.item_support {
  padding: 8px 15px;
}
.item_support span {
  padding: 0px 10px 0px 0px;
  color: #333333;
  font-weight: bold;
}
.item_support img {
  vertical-align: middle;
}
.bg_vien {
  text-align: center;
  margin: 10px 0px;
}
.support p {
  color: #d90000;
  font-size: 16px;
  font-weight: bold;
  background: url(../images/bg_hotline.png) left center no-repeat;
  padding: 10px 70px;
  margin-left: 15px;
}
.slide_nivo {
  width: 924px;
  height: 304px;
  position: relative;
  border: 3px solid #A0BF07;
  margin-top: 6px;
}
.main_video {
  text-align: center;
}
.main_cate_left {
  overflow: hidden;
}
.category-portlet{
	background: url(../images/bg_top_sidebar.jpg) left top no-repeat;
}
.cate_weblinks {
  margin-top: 15px;
}
.cate_weblinks a img {
  vertical-align: middle;
  padding-right: 6px;
}
.cate_weblinks a {
  display: block;
  float: left;
  color: #00a859;
  margin: 10px 9px;
}
.wrap_footer {
  height: 127px;
  width: 100%;
  margin-top: 28px;
  background: url(../images/bg_footer.jpg) repeat-x;
}
.footer {
  width: 992px;
  margin: 0px auto;
}
.info_footer {
  margin-top: 10px;
  color: #FFF;
  float: left;
}
.right_footer {
  float: right;
  color: #FFF;
}
.online {
  margin: 15px 0px 10px 0px;
}
.right_footer a {
  color: #FFF;
  font-weight: bold;
  padding-left: 3px;
}
.online p span {
  font-weight: bold;
}
.footer {
  height: 250px;
  width: 100%;
}
.main_footer {
  margin: 0px auto;
  background: #819c01;
  height: 400px;
}
.main_footer span {
  color: #FFF;
  margin: 5px 0px;
}
.main_footer a {
  color: #ffc000;
}
.bg_footer_bottom {
  height: 189px;
  margin-top: -190px;
  background: url(../images/bg_footer.png) center bottom no-repeat;
}
@media (min-width: 768px) {
  .bg_footer_bottom {
    margin-top: -190px;
    background: url(../images/bg_footer.png) center bottom no-repeat;
  }
}
.weblinks {
  float: right;
}
.weblinks form {
  width: 130px;
  height: 21px;
  background: url(../images/web_links.jpg) left top no-repeat;
  float: left;
}
.weblinks .styled {
  height: 21px;
  width: 129px;
  border: none;
}
.weblinks h3 {
  float: left;
  color: #FFF;
  font-weight: bold;
  color: #FFF;
  margin-right: 10px;
}
.weblink {
  float: left;
}
.weblinks p {
  float: left;
  color: #FFF;
}
.weblinks span {
  color: #ffc000;
}
.online {
  float: left;
}
@media screen and (min-width: 736px) {
  .online {
    float: right;
  }
  .weblink {
    float: right;
  }
}
.item a.thickbox img {
  padding: 3px;
  background: #fff;
  border: 1px solid #d9d9d9;
}
.item_home p {
  padding-bottom: 5px;
}
.support {
  margin-top: 10px;
}
@font-face {
  font-family: oplight;
  src: url(font/OpenSans-Light.woff);
}
.adsbygoogle {
  height: 0px !important;
  overflow: hidden;
}
.padding5 {
  padding-left: 5px;
  padding-right: 5px;
}
.zmdi-facebook {
  color: #3C599F;
}
.zmdi-google-plus {
  color:#CF3D2E;
}
.zmdi-youtube {
  color:#CF3D2E;
}
.payment-content {
		margin: 10px 0;
}
.products-filter-portlet {
	background: #fff;
	margin-bottom: 20px;
}
.products-filter-portlet .description {
  font-style: italic;
}
.products-filter-portlet .body {
	border: solid 1px #789101;
	border-top: 0;
	color: #333;
	font-size: 12px;
	font-weight: normal;
	padding: 10px;
}

.filter-title {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}
.filter-criteria {
	display: block;
	margin-bottom: 10px;
	width: 100%;
}
.filter-criteria select {
	width: 100%;
	padding: 5px 3px;
}
.content {
  margin: 0px auto;
  overflow: hidden;
  background: #fff;
}
.primary {
  /*float: right;*/
  margin-top: 10px;
  width: 100%;
}
.primary1 {
  /*float: right;*/
  margin-top: 10px;
}
.primary ul {
  list-style: inherit;
  margin-left: 25px;
}
.item_home .title_cate {
  height: 43px;
  background: #789101;
  color: #FFF;
  font-family: 'utm_amerika_sansregular';
  font-size: 17px;
  line-height: 43px;
  text-indent: 15px;
  font-weight: normal;
}
.main_detail_h {
  padding: 10px 15px;
}
.hr {
  margin: 8px;
  padding-top: 8px;
  clear: both;
  border-bottom: 1px dotted #d9d9d9;
}
.main_item {
  border: 1px solid #e7e6e6;
  margin: 5px 0px 10px;
  overflow: hidden;
}
.main_item .item-list {
  border-right: 1px dotted #d9d9d9;
  border-bottom: 1px dotted #d9d9d9;
  padding: 8px 0 10px;
  margin: 0;
}
.main_item .item {
  padding-left: 10px;
  padding-right: 10px;
  max-height: 310px;
}
@media (min-width: 768px) {
  .main_item .item {
    padding-left: 23px;
    padding-right: 23px;
  }
}
.main_item .hr {
  margin: 8px;
  padding-top: 8px;
  border-bottom: 1px dotted #d9d9d9;
  clear: both;
}
.main_item .hr:last-of-type {
  margin: 8px;
  padding-top: 8px;
  clear: both;
  border-bottom: 0px dotted #d9d9d9;
}
.main_item .no-border {
  border: none !important;
}
.main_item .item h3 a.title {
  display: block;
  margin: 5px 0px;
  color: #656565;
  /*font-family: georgia;*/
  font-size: 15px;
  font-weight: bold;
}
.main_item .item span.product-price {
  font-weight: bold;
  margin: 15px 0 5px;
  display: block;
  font-weight: bold;
}
.main_item .item .order_item {
  display: block;
  color: #FFF;
  width: 80px;
  height: 25px;
  padding: 5px 10px;
  background: #89A600;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  float: left;
}
.main_item .item .views_item {
  font-size: 11px;
  color: #5c7801;
  text-transform: uppercase;
  text-decoration: underline;
  float: right;
  margin: 10px 15px 0px 0px;
}

/*
.main_item .item{
	height:285px;
	padding:0px 23px;
	border-right:1px dotted #d9d9d9;
	float:left;
	margin:5px 0px;
}
.main_item .item span{
	color:#ff0000;
	font-weight:bold;
	margin-top:15px;
	display:block;
}
.main_item .item .order_item{
	display:block;
	color:#FFF;
	width:72px;
	height:21px;
	padding:5px 10px;
	background:url(../images/bg_order_item.jpg) left center repeat-x;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	float:left;
}

.main_item .item .views_item{
	font-size:11px;
	color:#5c7801;
	text-transform:uppercase;
	text-decoration:underline;
	float:right;
	margin:10px 15px 0px 0px;

}
.main_item .item h3 a{
	display:block;
	margin:5px 0px;
	color:#5e7a00;
}
.main_item {
  border: 1px solid #e7e6e6;
  margin: 5px 0px 10px 0px;
  overflow: hidden;
  padding-bottom: 15px;
}
.main_detail_h {
  padding: 10px 15px;
  background: #f1fdb8;
}
.main_item .item {
  width: 100%;
  text-align: center;
  float: left;
  margin: 5px 0px;
  margin-bottom: 15px;
  background: #f9fee1;
  box-shadow: 0.5px 1px 1px .5px #888888;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.main_item .item:hover {
  background: #f1fdb8;
}*/

.primary .hr, .primary .hr2 {
  margin: 8px;
  padding-top: 8px;
  clear: both;
  border-bottom: 1px dotted #d9d9d9;
}
.main_video {
  position: relative;
}
.menu_bot ul li {
  float: left;
}
.back_top {
  color: #FFF;
  font-size: 10px;
  padding-right: 30px;
  background: url(../images/bg_back_top.jpg) right center no-repeat;
  position: absolute;
  right: 15px;
  top: 0;
}

/*********** Abouts ********************/

.img_abouts img {
  border: 1px solid #999;
  margin-top: 4px;
  float: left;
  margin-right: 15px;
  padding: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.main_abouts {
  padding: 15px 15px;
  border: 1px solid #e8e7e7;
  margin: 10px 0px;
  overflow: hidden;
}
.title_abouts {
  color: rgb(101, 101, 101);
  display: block;
  font-family: 'georgia';
  font-size: 19px;
  font-weight: normal;
}
.views_all a {
  float: right;
  color: #7d9701;
  margin: 10px 12px;
}

/****** san pham hoa ********/
.img_pro img {
  padding: 3px;
}
.img_pro {
  border: 1px solid #999;
  overflow: hidden;
}
@media (min-width: 768px) {
  .img_pro {
    margin-right: 12px;
    float: left;
  }
}
h3.title_pro_detail {
  color: #656565;
  font-size: 19px;
  margin-bottom: 6px;
  font-family: georgia;
  font-weight: normal;
}
.price {
  color: #a6a6a6;
  text-transform: uppercase;
}
.price span {
  color: #f26522;
  font-weight: bold;
}
.order_chi a {
  width: 88px;
  height: 29px;
  background: url(../images/bg_order_chi.jpg) left center no-repeat;
  display: inline-block;
  line-height: 29px;
  color: #FFF;
  text-align: center;
  font-weight: bold;
  margin: 8px 0px;
  margin-right: 243px;
}
.content_pro {
  padding-bottom: 30px;
}
.item_th h3 a {
  color: #656565;
  font-size: 19px;
  font-family: 'georgia';
  font-weight: normal;
  margin-bottom: 5px;
  display: block;
}
.item_th img {
  border: 3px solid #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: .5px 1px 1px .5px #888888;
  -moz-box-shadow: .5px 1px 1px .5px #888888;
  -webkit-box-shadow: .5px 1px 1px .5px #888888;
}
.item_th .img_th {
  float: left;
  border: 1px solid #999;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 4px 0px;
  /*margin-right: 8px;*/
  width: 100%;
}
.item_th {
  border-bottom: 1px dashed #ccc;
  color: #656565;
  float: left;
  margin: 15px 0 0;
  text-align: inherit;
  width: 100%;
  height: 320px;
  overflow: hidden;
}
.img_detail_th {
  float: left;
}
.img_detail_th img {
  border: 5px solid #FFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.img_detail_th {
  border: 1px solid #d4d6ce;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 10px 10px 0px 0px;
}
.item_home .title_detail_th {
  color: #656565;
  font-size: 19px;
  margin: 10px 0px;
  font-family: 'georgia';
  font-weight: normal;
}
.main_th {
  margin: 10px 0px;
  padding: 0px 15px 15px 15px;
}

/*********** Contacts**********************/

#contact {}
#contact h3.title_center {
  font-size: 11px;
}
#contact form {
  float: left;
  width: 100%;
}
#contact form label {
  clear: both;
  margin-right: 6px;
  text-align: left;
  width: 61px;
  float: left;
  color: #000;
  margin-bottom: 6px;
}
#contact form input, #contact form textarea {
  margin-bottom: 10px;
}

/*#contact form input, #contact form textarea {
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    margin-bottom: 11px;
    width: 280px;
    border:1px solid #cacaca;
}
#contact form input{
    background:url(../images/bg_input.jpg) left center no-repeat;
}*/


/*#contact form input.input_submit, #contact form input.input_reset {
    background: url("../images/btn_contact.jpg") no-repeat scroll 0 0 transparent;
    border:none;
    color: #FFFFFF;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    margin-left: 65px;
    margin-top: 10px;
    padding-bottom: 2px;
    text-align: left;
    width: 55px;
	text-indent:4px;
	border-radius: 5px 5px 5px 5px;
}
#contact form input.input_reset {
    margin-left: 10px;
}*/

#contact form textarea {
  height: 120px;
}
.map {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #CCCCCC;
  float: right;
  height: 350px;
  width: 100%;
}
.main_info h3 {
  color: #0a7621;
  font-size: 18px;
  margin: 0px 0px 8px 0px;
}
.main_info {
  background: #a2b931 none repeat scroll 0 0;
  border-radius: 5px;
  float: left;
  padding: 10px;
  width: 100%;
  color: #fff;
  margin: 10px 0;
}
#top {
  cursor: pointer;
}
.mamoi {
  font-size: 0px;
  float: left;
  display: block;
  width: 40px;
  height: 40px;
  background: url(../images/refresh.png) left center no-repeat;
}

/*====================================================
						GIO HANG
===================================================*/

.bt_abc {
  width: 100%;
}
.giohang {
  /*background:url(../images/icon2.jpg) no-repeat left center;*/
  display: block;
  float: right;
  color: #303030;
  text-indent: 26px;
  margin-right: 12px;
  height: 32px;
  line-height: 32px;
}
.giohang span {
  font-weight: bold;
}
.giohang_form table {
  border: 1px solid #e2e1e1;
  margin-top: 16px;
}
.table-responsive {
  border: 0;
}
.phuongthuc_thanhtoan {
  text-transform: uppercase;
  color: black;
  width: 680px;
  margin: 10px auto 10px auto;
  height: 175px;
}
.giohang_form {
  padding: 15px !important;
}
.giohang_form th {
  background: #eeeeee;
  height: 34px;
  line-height: 34px;
  padding: 0px 14px;
  color: #5c5c5c !important;
  font-size: 12px!important;
}
.giohang_form td {
  padding: 12px 14px;
}
.giohang_form th.giohang_col1, .giohang_form td.giohang_col1 {
  width: 13px;
}
.tv_trangchu {
  background-color: #85AF28;
  border-radius: 5px 5px 5px 5px;
  color: #FFFFFF;
  font-weight: bold;
  height: 20px;
  line-height: 21px;
  padding: 8px;
  text-transform: uppercase;
  width: 115px;
}
.giohang_form th.giohang_col2, .giohang_form td.giohang_col2 {
  width: 220px;
  font-weight: bold;
  border-left: none;
  /*padding:0px 14px;*/
}
.giohang_form td.giohang_col2 img {
  float: left;
  margin-right: 5px;
  padding: 10px;
}
.giohang_form td.giohang_col2 p {
  margin-top: 15px;
}
.giohang_form th.giohang_col3, .giohang_form td.giohang_col3 {
  width: 53px;
  text-align: center;
}
.giohang_form td.giohang_col3 input {
  width: 53px;
  text-align: center;
}
.giohang_form th.giohang_col4, .giohang_form td.giohang_col4 {
  width: 78px;
  text-align: center;
}
.giohang_form th.giohang_col5, .giohang_form td.giohang_col5 {
  width: 88px;
  text-align: center;
}
.total {
  color: #666666;
  float: right;
  font-weight: bold;
  width: 100%;
  text-align: right;
}
.total span {
  font-size: 12px;
}
.giohang_form button, .giohang_form button.thanhtoan {
  float: right;
  color: #fff;
  width: 30px;
  height: 26px;
  line-height: 22px;
  text-align: center;
  margin: 21px 0px 21px 12px;
  border: none;
  font-weight: bold;
}
.giohang_form button.xoa, .giohang_form button.huy {
  /*background:url(../images/btn1.jpg) no-repeat;*/
  background: #85AF28;
  width: 65px;
  height: 29px;
  cursor: pointer;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.giohang_form button.muatiep, .giohang_form button.capnhat, .giohang_form button.thanhtoan {
  background: #85AF28;
  /*background:url(../images/btn3.jpg) no-repeat;*/
  cursor: pointer;
  height: 29px;
  width: 100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.giohang_form button.thanhtoan {
  border: none;
  cursor: pointer;
}
.thongtinkh form {
  margin-top: 20px;
}
.thongtinkh form input.dathang_btn, .thongtinkh form input.reset_btn, button.back {
  float: left;
  border: none;
  background: #85AF28;
  width: 70px;
  height: 28px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.thongtinkh form input.reset_btn, button.back {
  cursor: pointer;
  margin-left: 9px;
}
.giohang_thongbao {
  padding: 4px 10px;
  background-color: #f1f1f1;
}
.giohang_thongbao p {
  margin-bottom: 0;
  padding-bottom: 0;
}
.required {
  color: #e00;
}
.giohang_form table.thongbao {
  margin-bottom: 20px;
  border: none;
}
#back-id2 {
  margin: 0 8px;
}
.giohang_form .thongbao tr td {
  border: none;
  padding: 2px 15px;
  text-align: left;
  width: 92px;
}
.phuongthucthanhtoan {
  border-top: 1px solid #d9d9d9;
  width: 680px;
  margin: auto;
}
.phuongthucthanhtoan h3 {
  text-transform: none;
  color: #000;
  text-indent: 0;
}
.thongbao_thanhtoan {
  text-transform: uppercase;
  color: #F00;
  width: 680px;
  margin: 10px auto 130px auto;
}
.video_home a {
  cursor: pointer;
}
.show_video {
  margin: 0px !important;
}
.div_orders {
  border: 1px;
}
.sear_top {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #a2b931;
  float: left;
  padding: 10px;
  width: 100%;
}
.slide_top_full {
  background: #fff;
}
#slide_top {
  padding: 0;
  margin: 5px 0;
  border: 3px solid #A0BF07;
}
.sear_top h3.ttsh {
  color: #fff;
  font-family: "utm_amerika_sansregular";
  font-size: 25px;
  line-height: 63px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 11px;
  padding-top: 12px;
}
.sear_top select {
  margin-bottom: 15px;
}
.sear_top button {
  margin-left: 30%;
  margin-bottom: 13px;
  width: 40%;
}
.sear_top p {
  font-family: "utm_amerika_sansregular";
  font-size: 17px;
  color: #fff;
  margin: 10px 0px;
  text-align: center;
  line-height: 20px;
}
.unit-price, .quantity, .sub-total {
  width: 100%;
}
.category-description {
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 5px;
  margin-bottom: 10px;
}
